<div class="g-up-menu" >
  
  <button *ngIf="!options?.select" mat-button (click)="clickNew()" >
    <span class="material-icons g-icon" >add_circle</span>
    Добавить</button>
  
  <button *ngIf="!options?.select" mat-button (click)="clickCopy()" >
    <span class="material-icons g-icon" >content_copy</span>
    Скопировать</button>

  <button *ngIf="options?.select" mat-button (click)="clickSelect()" >
    <span class="material-icons g-icon" >check_circle_outline</span>
    Выбрать</button>  

</div>
