
<div class="list-space" >

    <app-ref-list-command-panel-up 
        [object]="(object$ | async)?.list"
        (clickMenu)="clickMenuUp($event)"
        [options]="{ select: true }"
    ></app-ref-list-command-panel-up>
    
    <app-list-ref-cash-flow 
        [list]="(object$ | async)?.list"
        (currentRowChange)="currentRowChange($event)"
        (selectRow)="selectRow()"
        class="list"
    ></app-list-ref-cash-flow>
    
</div>