
<form
  [formGroup]="form"
  novalidate
  >
  
  <div class="grid-container">

    <span class="title title-font">Статья движения денежных средств</span>

    <mat-form-field appearance="outline" class="code">
      <mat-label>Код</mat-label>
      <input 
      matInput
      name="code"
      type="text"
      formControlName="code"
      (change)="onChangeField($event, 'code')"
      >
    </mat-form-field>
     
    <mat-form-field appearance="outline" class="name">
      <mat-label>Наименование</mat-label>
      <input 
      matInput
      name="name"
      type="text"
      formControlName="name"
      (change)="onChangeField($event, 'name')"
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="comment">
      <mat-label>Комментарий</mat-label>
      <input 
      matInput
      name="comment"
      type="text"
      formControlName="comment"
      (change)="onChangeField($event, 'comment')"
      >
    </mat-form-field>

  </div>  

</form>
