
.grid-container {
    display: grid;  
    grid-template-areas: '. .           .         .         .           .' 
                         '. title       title     title     title       .'  
                         '. name        name      .         code        .'
                         '. comment     comment   comment   comment     .';

    grid-template-columns: 20px 1fr 1fr 20px 1fr 20px ;
    grid-template-rows: 20px repeat(3, 80px) ;
}

.title { 
    grid-area: title; 
}
.by {
    grid-area: by;
}
.title-font { 
    line-height: 59px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: brown;
}


.code {
    grid-area: code;
}

.code input {
    text-align: right;
}

.name {
    grid-area: name;
}

.comment {
    grid-area: comment;
}


