
.list-space {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.list {
    flex-grow: 1;
    overflow: auto;
}

.outlet-container {
    flex-grow: 0;
    height: 40%;
    max-height: 40%;
    //overflow: auto;
    overflow: hidden;
}

.divider {
    flex-grow: 0;
    background-color: gainsboro;
    height: 5px;
    width: 100%;
}