
<div class="g-up-menu">

  <button mat-button [matMenuTriggerFor]="document"       >
    <span class="material-icons g-icon" >article</span>  
    Документ
  </button>

  <mat-menu #document="matMenu" >
    <button mat-menu-item (click)="clickOK()"            >
      <span class="material-icons g-icon" >check_circle_outline </span>
      Провести и закрыть
    </button>
    <button mat-menu-item (click)="clickSave()"           >
      <span class="material-icons g-icon" >save</span>
      Записать
    </button>
    <button mat-menu-item (click)="clickCopy()"           >
      <span class="material-icons g-icon" >content_copy</span>
      Скопировать
    </button>
    <button mat-menu-item (click)="clickDel()"            >
      <span class="material-icons g-icon" >bookmark_remove</span>
      Пометить на удаление / снять пометку
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="clickGo()"             >
      <span class="material-icons g-icon" >bookmark_added</span>
      Провести
    </button>
    <button mat-menu-item (click)="clickStop()"           >
      <span class="material-icons g-icon" >bookmark_border</span>
      Отмена проведения
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="clickViewInList()"     >
      <span class="material-icons g-icon" >call_received</span>  
      Показать в списке
    </button>
    <!-- <button mat-menu-item [matMenuTriggerFor]="createOnThis">Создать на основании</button> -->
    <button mat-menu-item (click)="clickPrint()"          >
      <span class="material-icons g-icon" >print</span>
      Печать
    </button>
    <button mat-menu-item (click)="clickHelp()"           >
      <span class="material-icons g-icon" >help</span>
      Справка
    </button>
  </mat-menu>
  
  <!-- <mat-menu #createOnThis="matMenu">
    <button mat-menu-item (click)="clickOK()">Документ 1</button>
    <button mat-menu-item >Документ 2</button>
  </mat-menu> -->

  <button mat-button (click)="clickGo()"                  >
    <span class="material-icons g-icon" >bookmark_added</span>
    Провести
  </button>
</div>
