
<table 
  mat-table 
  [dataSource]="list" 
  class="mat-elevation-z8" 
  [tabindex]="0" 
  (keydown)="keyDown($event)"  
  >

  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let item">
      <span 
        class="material-icons label" 
        [ngStyle]="getIconStyle(item)"
        >{{getIcon(item)}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Код </th>
    <td mat-cell *matCellDef="let item"> {{item.code}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Наименование </th>
    <td mat-cell *matCellDef="let item"> {{item.name}} </td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef> Комментарий </th>
    <td mat-cell *matCellDef="let item"> {{item.comment}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
    (click)="rowClick(row)" 
    (dblclick)="rowDoubleClick(row)"
    [ngStyle]="getRowStyle(row)"
    class="g-table-text"
  ></tr>

</table>
    
