
.mt2 { margin-top: 4px; }
.mt3 { margin-top: 6px; }
.mt4 { margin-top: 8px; }
.mt6 { margin-top: 12px; }
.mt8 { margin-top: 16px; }
.mt10 { margin-top: 20px; }

.mb2 { margin-bottom: 4px; }
.mb3 { margin-bottom: 6px; }
.mb4 { margin-bottom: 8px; }
.mb6 { margin-bottom: 12px; }
.mb8 { margin-bottom: 16px; }
.mb10 { margin-bottom: 20px; }

.ml2 { margin-left: 4px; }
.ml3 { margin-left: 6px; }
.ml4 { margin-left: 8px; }
.ml6 { margin-left: 12px; }
.ml8 { margin-left: 16px; }
.ml10 { margin-left: 20px; }

.mr2 { margin-right: 4px; }
.mr3 { margin-right: 6px; }
.mr4 { margin-right: 8px; }
.mr6 { margin-right: 12px; }
.mr8 { margin-right: 16px; }
.mr10 { margin-right: 20px; }
