
<div class="list-space" >

    <app-doc-list-command-panel-up 
        [object]="(object$ | async)?.list"
        (clickMenu)="clickMenuUp($event)"
    ></app-doc-list-command-panel-up>

    <app-list-doc-cash-order 
        [list]="(object$ | async)?.list"
        (currentRowChange)="currentRowChange($event)"
        (selectRow)="selectRow()"
        class="list"
    ></app-list-doc-cash-order>
    
    <div *ngIf="withChildren" class="divider"></div>

    <div *ngIf="withChildren" class="outlet-container">
        <router-outlet></router-outlet>
    </div>

</div>