<div class="g-up-menu">
  <button mat-button (click)="clickNew()"            >
    <span class="material-icons g-icon" >add_circle</span>
    Добавить</button>
  <button mat-button (click)="clickCopy()"           >
    <span class="material-icons g-icon" >content_copy</span>
    Скопировать</button>
</div>
