.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 1024px;
    max-width: 50%; 
}

app-doc-command-panel-up {
    flex-grow: 0;
}

app-doc-cash-order {
    flex-grow: 1;
    background-color: linen;  
    overflow: auto;
}

app-doc-command-panel-down {
    flex-grow: 0;
}
