<div class="container" >

    <app-doc-command-panel-up
        [object]="object"
        (clickMenu)="clickMenuUp($event)"
    ></app-doc-command-panel-up>

    <app-doc-cash-order 
        [object]="object"
        (eventFormChange)="eventFormChange($event)"
    ></app-doc-cash-order>

    <app-doc-command-panel-down
        [object]="object"
        (clickMenu)="clickMenuDown($event)"
    ></app-doc-command-panel-down>

</div>

