
<div class="g-up-menu">

  <button mat-button [matMenuTriggerFor]="other" >
    <span class="material-icons g-icon" >article</span>
    Элемент
  </button>

  <mat-menu #other="matMenu">
    <button mat-menu-item (click)="clickSave()" >
      <span class="material-icons g-icon" >save</span>
      Записать
    </button>
    <button mat-menu-item (click)="clickCopy()" >
      <span class="material-icons g-icon" >content_copy</span>
      Скопировать
    </button>
    <button mat-menu-item (click)="clickDel()" >
      <span class="material-icons g-icon" >highlight_off</span>
      Пометить на удаление / снять пометку
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="clickViewInList()" >
      <span class="material-icons g-icon" >call_received</span>
      Показать в списке
    </button>
    <button mat-menu-item (click)="clickHelp()" >
      <span class="material-icons g-icon" >help</span>
      Справка
    </button>
  </mat-menu>
    
</div>
