
<div class="g-main-menu main-menu">
    <span class="material-icons label">all_inbox</span>
    <label class="label">CASH FLOW</label>
    <button mat-button (click)="clickListDocCashOrder()"    >Кассовые ордера</button>
    <button mat-button (click)="clickListRefCashFlow()"     >Статьи ДДС</button>
</div>


<div class="constant-space">
    <!-- <app-bread-crumbs> </app-bread-crumbs> -->
    <router-outlet></router-outlet>
</div>
