.main-menu {
    height: 36px;
    max-height: 36px;
    font-size: 14pt;
}

.constant-space {
    height: calc(100vh - 37px);
    max-height: calc(100vh - 37px);
    overflow: hidden;
}

.label {
    vertical-align:middle;
    color: indigo;

}