
<div class="g-down-menu">
  <button mat-button (click)="clickOK()" >
    <span class="material-icons g-icon" >check_circle_outline</span>
    OK
  </button>
  <button mat-button (click)="clickExit()" >
    <span class="material-icons g-icon" >highlight_off</span>
    Закрыть
  </button>
</div>
