
<form
  [formGroup]="form"
  novalidate
  >
  
  <div class="grid-container">

    <span class="title title-font">Кассовый ордер</span>
        
    <mat-form-field appearance="outline" class="number">
      <mat-label>№</mat-label>
      <input 
      matInput
      name="number"
      type="text"
      formControlName="number"
      (change)="onChangeField($event, 'number')"
      >
    </mat-form-field>

    <span class="by title-font"> от </span>
    
    <mat-form-field appearance="outline" class="date">
      <mat-label>Дата</mat-label>
      <input 
      matInput
      name="date"
      type="datetime-local"
      formControlName="date"
      [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
      (dateTimeChange)="onChangeField($event, 'date')"
      >
      <owl-date-time [startAt]="startDate()" showSecondsTimer #dt></owl-date-time>
    </mat-form-field>

    <span class="type-moverment">
      <mat-form-field appearance="outline" >
        <mat-label>Движение</mat-label>
        <mat-select  (selectionChange)="onChangeField($event, 'typeMoverment')" formControlName="typeMoverment">
          <mat-option *ngFor="let item of move" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>

    <mat-form-field appearance="outline" class="sum">
      <mat-label>Сумма</mat-label>
      <input 
      matInput
      name="sum"
      type="text"
      formControlName="sum"
      (change)="onChangeField($event, 'sum')"
      >
      <span matSuffix>&nbsp;руб</span>
    </mat-form-field>


    <mat-form-field appearance="outline" class="cash-flow" >
      <mat-label>Статья ДДС</mat-label>
      <input 
      matInput
      name="cashFlowItem_title_"
      type="text"
      formControlName="cashFlowItem_title_"
      readonly
      (click)="clickCashFlow()"
      >
      <mat-icon matSuffix (click)="clickCashFlow()" >arrow_circle_down</mat-icon>
    </mat-form-field>

    
    <mat-form-field appearance="outline" class="comment">
      <mat-label>Комментарий</mat-label>
      <input 
      matInput
      name="comment"
      type="text"
      formControlName="comment"
      (change)="onChangeField($event, 'comment')"
      >
    </mat-form-field>

  </div>

</form>
