
.grid-container {
    display: grid;  
    grid-template-areas: '. .           .           .           .           .       .' 
                         '. title       title       number      by          date    .'  
                         '. move        .           sum         .           .       .'
                         '. cash-flow   cash-flow   cash-flow   .           .       .'
                         '. comment     comment     comment     comment     comment .';

    grid-template-columns: 20px 1fr minmax(40px, 0.2fr) 1fr minmax(40px, 0.2fr) 1fr 20px ;
    grid-template-rows: 20px repeat(4, 80px) ;
}

.title { 
    grid-area: title; 
}
.by {
    grid-area: by;
}
.title-font { 
    line-height: 59px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: brown;
}


.number {
    grid-area: number;
}
.number input {
    text-align: right;
}

.date {
    grid-area: date;
}
.date input {
    text-align: center;
}

.type-moverment {
    grid-area: move;
    text-align: center;
}
.type-moverment>* {
    width: 100%;
}
.type-moverment mat-select {
    text-align: center;
}

.sum {
    grid-area: sum;
}
.sum input {
    text-align: right;
}

.cash-flow {
    grid-area: cash-flow;
}

.comment {
    grid-area: comment;
}


