<div class="container" >

    <app-ref-command-panel-up
        [object]="object"
        (clickMenu)="clickMenuUp($event)"
    ></app-ref-command-panel-up>

    <app-ref-cash-flow 
        [object]="object"
        (eventFormChange)="eventFormChange($event)"
    ></app-ref-cash-flow>

    <app-ref-command-panel-down
        [object]="object"
        (clickMenu)="clickMenuDown($event)"
    ></app-ref-command-panel-down>

</div>    
