.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 600px;
    max-width: 30%; 
}

app-ref-command-panel-up {
    flex-grow: 0;
}

app-ref-cash-flow {
    flex-grow: 1;
    background-color: linen;  
    overflow: auto;
}

app-ref-command-panel-down {
    flex-grow: 0;
}