/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import "~ng-pick-datetime/assets/style/picker.min.css";

@import "./app/shared/margins.scss";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

//

.g-main-menu {
  background-color: white;
}

.g-up-menu {
  background-color: blanchedalmond;
  border: 1px solid burlywood;
}

.material-icons1 {
  vertical-align: middle;
}


.g-down-menu {
  background-color: blanchedalmond;
  text-align: right;
  border: 1px solid burlywood;
}

.g-table-text>* {
  font-size: 18px;
}

.g-sum {
  text-align: right;
  padding-right: 10px !important;
}

.g-icon {
  vertical-align: middle;
}
