

<table 
  mat-table 
  [dataSource]="list" 
  class="mat-elevation-z8" 
  [tabindex]="0" 
  (keydown)="keyDown($event)"  
  >

  <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let doc">
        <span 
          class="material-icons label" 
          [ngStyle]="getIconStyle(doc)"
          >{{getIcon(doc)}}</span>
      </td>
    </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Дата </th>
    <td mat-cell *matCellDef="let doc"> {{doc.date | date:'dd.MM.yyyy HH:mm:ss'}} </td>
  </ng-container>

  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef> Номер </th>
    <td mat-cell *matCellDef="let doc"> {{doc.number}} </td>
  </ng-container>

  <ng-container matColumnDef="typeMoverment">
    <th mat-header-cell *matHeaderCellDef> Приход/Расход </th>
    <td mat-cell *matCellDef="let doc"> {{doc.typeMoverment_title_}} </td>
  </ng-container>

  <ng-container matColumnDef="sum">
    <th mat-header-cell *matHeaderCellDef> Сумма </th>
    <td mat-cell *matCellDef="let doc" class="g-sum"> {{doc.sum | number:'1.2-2'}} </td>
  </ng-container>

  <ng-container matColumnDef="cashFlowItem">
    <th mat-header-cell *matHeaderCellDef> Статья ДДС </th>
    <td mat-cell *matCellDef="let doc"> {{doc.cashFlowItem_title_}} </td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef> Комментарий </th>
    <td mat-cell *matCellDef="let doc"> {{doc.comment}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
    (click)="rowClick(row)" 
    (dblclick)="rowDoubleClick(row)"
    [ngStyle]="getRowStyle(row)"
    class="g-table-text"
  ></tr>
</table>